<configuration>
   <system.runtime.remoting>
      <application>
      <lifetime leaseTime="20D" sponsorshipTimeout="1H" renewOnCallTime="1D" leaseManagerPollTime="1H" />
        <client>
        <wellknown type="Communication.Communication,Communication" url="tcp://127.0.0.1:8000/Communication.rem" />                                        
        </client>
         <channels>
            <channel ref="tcp" port="0" clientConnectionLimit="20" >
           </channel>
         </channels>        
       </application>
   </system.runtime.remoting>
<appSettings>
   <add key="RemotingUrl" value="tcp://127.0.0.1:8000/Communication.rem"></add>
</appSettings>
</configuration>