<configuration>
   <system.runtime.remoting>
      <application>
<lifetime leaseTime="20D" sponsorshipTimeout="1H" renewOnCallTime="1D" leaseManagerPollTime="1H" />
         <service>
            <wellknown
               mode="Singleton"
               type="Communication.Communication,Communication"
               objectUri="Communication.rem"/>
                                                </service>
                                </application>
                </system.runtime.remoting>
</configuration>